# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/
dist/
build/

# Env-filer
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
logs
*.pid
*.seed
*.pid.lock

# Editor settings
.vscode/
.idea/
.DS_Store

# Firebase
.firebase/
firebase-debug.log
functions/node_modules/
functions/lib/

# Misc
*.zip
*.tar
*.gz
*.patch

# Mac OS files
__MACOSX
*.DS_Store

# Cache
.cache/
.next/cache/
fuelmap.zip
fuelmap.zip
fuelmap.zip
